</div> <!-- div.page-content-->
<div class="container-fluid footer">
  <div class="container">
    <h3 class="footer-header mt-2">YelpCamp</h3>
    <ul class="footer-list">
      <li>
        <a href="/about">About YelpCamp</a>
      </li>
      <li>
        <a href="/changelog">Changelog</a>
      </li>
      <li>
        <a href="https://github.com/cdiasperera/YelpCamp">Source</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>