<% include ./partials/header %>
<div class="container paragraphs">
  <h3>About YelpCamp</h3>
  <p> First and foremost, YelpCamp isn't a real commercial website. Truthfully, 
      you probably already knew that. Either you're one of my friends, or 
      you're a relatively curious interviewer. If you somehow randomly stumbled
      onto this hellsite, and thought it was real, this is to let you know it 
      isn't.
  </p>
  <p>
      That said, YelpCamp is essentially a showcase website, for its creator, 
      to flex some mad design/programming skills. At least, skills suitable 
      for a first website. It probably deserves to be laughed at, if anything.
  </p>
  <p>
      Oh, I should definitely mention that this website was created as part of
      <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">
        Colt Steele's Web Developer Bootcamp
      </a>
      . It's a pretty wicked course, that I'd recommend checking out. I 
      basically started out with no web development knowledge, to what this 
      website is, in about 3 months. I did have a few years of general 
      programming knowledge before that, though. 
  </p>
  <p>
      Anyway, cheers for reading this page! Have fun looking around :) And make
      sure to check out the 
      <a href="https://github.com/cdiasperera/YelpCamp">
        source code!
      </a>
  </p>
</div>
<% include ./partials/footer %>