<% include ./partials/header %>

<a href="/campgrounds/new">Add new campground</a>
<h1>This is a list of campgrounds</h1>

<% campgrounds.forEach((campground) => { %>
    <div>
        <h4><%= campground.name %> </h4>
        <img src="<%= campground.image %>"  alt="campground">
    </div>
<%  }); %>

<% include ./partials/footer %>