<% include ./partials/header %>
<div class="container paragraphs">
  <div class="change">
    <h3>Monday, 1st of December, 2019</h3>
    <p>
      <ul>
        <li>
          <p>
            Users now have to activate their accounts through their email to
            use the website!
          </p>
          <p>
            Existing users should not need to activate their accounts, but if 
            any error messages suggest that you do, please contact me at 
            cdiasperera@gmail.com
          </p>
        </li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Sunday, 30th of November, 2019</h3>
    <p>
      <ul>
        <li>
          <p>
            You can now reset your password! This feature was pretty grueling.
          </p>
          <p>
            If you want to reset your password, but your account was created
            before emails were implemented, please contact me at:
            cdiasperera@gmail.com
          </p>
        </li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Thursday, 28th of November, 2019</h3>
    <p>
      <ul>
        <li>You can now follow users! When they make a new campground, you
          will immediately be notified!
        </li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Sunday, 24th of November, 2019</h3>
    <p>
      <ul>
        <li>
          <p> There are now user profiles, with profile pictures! Currently, you
            can only link pictures from the internet, but image uploads are 
            coming!
          </p>
          <p>
            To change your profile picture, click on your username at the top of
            the page, once you are logged in! 
          </p>
        </li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Friday, 22nd of November, 2019</h3>
    <p>
      <ul>
        <li>Notifications woo! Notifications have been implemented</li>
        <li>In addition, if there has been a major update since you last logged 
          in, you will get a notification of it</li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Tuesday, 19th of November, 2019</h3>
    <p>
      <ul>
        <li>
          <p>
            You can now see when a comment/camp was submitted!
          </p>
          <p>
            Note: Any previously submitted camps/comments will not function correctly and will display "A few second ago".
          </p>
        </li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Friday, 15th of November, 2019</h3>
    <p>
      <ul>
        <li>Added a search function.</li>
        <li>Added a footer to the page.</li>
        <li>Added a changelog page</li>
        <li>Added an "About YelpCamp" page</li>
      </ul>
    </p>
  </div>

</div>
<% include ./partials/footer %>
