<% include ./partials/header %>
<div class="container paragraphs">
  <div class="chan">
    <h3>Tuesday, 19th of November, 2019</h3>
    <p>
      <ul>
        <li>You can now see when a comment/camp was submitted!</li>
      </ul>
    </p>
  </div>
  <div class="change">
    <h3>Friday, 15th of November, 2019</h3>
    <p>
      <ul>
        <li>Added a search function.</li>
        <li>Added a footer to the page.</li>
        <li>Added a changelog page</li>
        <li>Added an "About YelpCamp" page</li>
      </ul>
    </p>
  </div>

</div>
<% include ./partials/footer %>
