<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp.</h1>
            <p>View our handpicked campgrounds, from all over the world.</p>
        </div>
    </header>

    <a class="btn btn-primary btn-lg" href="/campgrounds">See our current campgrounds!</a>

</div>
<% include ./partials/footer %>