<% include partials/header %>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="source" placeholder="Image URL">
    <button type="submit">Submit</button>
</form>

<a href="/campgrounds">Go to campgrounds.</a>
<% include partials/footer %>