<% include ../partials/header/meta %>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<% include ../partials/header/commonContent %>

<div class="container">
    <header class="jumbotron text-center">
        <h1 class="display-5">These are our campgrounds</h1>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a campground</a>
    </header>

    <div class="campgrounds-row">
      <div class="col-lg-12">
        <% if (!search) { %>
          <h3>Our most popular campgrounds</h3>
        <% } else { %>
          <h3>Results for: <%= search %></h3>
        <% } %>
      </div>
    </div>
    <div class="row d-flex text-center">
      <% if (camps.length === 0) { %>
        <h3>Sorry! We could not find any camps! &#128549;</h3>
      <% } %>
        <% camps.forEach((camp) => { %>
            <div class="col-sm-6 cold-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" 
                      src="<%= camp.image %>"  
                      alt="campground">
                    <div class="card-body mb-2">
                      <h4 class="card-title"><%= camp.name%></h4>
                      <% if (!camp.averageRating) { %>
                        <div class="mb-sm-2">
                          <em class="card-text">No Reviews Yet</em>
                        </div>
                      <% } else { %>
                        <div class="mb-sm-2">
                        <% for(let i = 0; i < camp.averageRating; i++) { %>
                          <span class="star"></span>
                        <% } %>
                        </div>
                      <% } %>
                      <a href="/campgrounds/<%= camp._id%>" 
                      class="btn btn-primary">
                        Learn More
                      </a>
                    </div>
                </div>
            </div>
        <%  }); %>
    </div>
    <% include ./pagination%>
</div>

<% include ../partials/footer %>