<!-- Navbar content-->
<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav ml-auto">
    <% if (!currentUser) { %>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/users/register">Sign Up</a>
      </li>
    <% } else { %>
      <% include ./notifs %>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/users/<%= currentUser.id%>">
          <%= currentUser.username%>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    <% } %>
  </ul>

  <form class="form-inline" action="/campgrounds" method="GET" >
    <input type="text" class="form-control d-flex mr-2 mb-2 mb-md-0" name="search" 
    placeholder="Search Camps">
    <input type="submit" class="btn btn-default"></input>
  </form>
</div>