<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" 
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false">
    Notifications
    <span class="num-notifs"><%= notifs.length%></span>
  </a>
  <ul class="dropdown-menu"> 
    <li>
      <% if (notifs.length === 0) { %>
        <a href="/notifs">See Previous Notifications</a>
      <% } else { %>
        <% notifs.forEach((notif) => { %>
          <a href="/notifs/<%= notif._id%>"> <%= notif.message %></a>
        <% }) %>
      <% } %>
    </li> 
  </ul>
</li>