<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" 
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false">
    Notifications
  </a>
  <ul class="dropdown-menu"> 
    <li>
      <a href="/notifs">See Previous Notifications</a>
    </li> 
  </ul>
</li>