<li role="presentation" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" 
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false">
    Notifications
    <span class="num-notifs"><%= notifs.length%></span>
  </a>
  <div class="dropdown-menu"> 
      <% if (notifs.length === 0) { %>
        <a class="dropdown-item" href="/notifs">See Previous Notifications</a>
      <% } else { %>
      <% notifs.forEach((notif) => { %>
        <a class="dropdown-item" href="/notifs/<%= notif._id%>"> 
          <%= notif.message %>
        </a>
      <% }) %>
      <% } %>
  </div>
</li>