/* COMMENTS SECITON */
.comment p {
    overflow-wrap: break-word;
}

.comment-header {
  margin-bottom: 10px;
}

.time-since {
  font-style: italic;
  color: grey;
  margin-bottom: 0;
  height: inherit
}

.avatar-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#comment-meta {
  margin-bottom: 0.2rem;
}

#comment-meta .col-2 {
  max-width: 65px;
}

#comment-meta a {
  margin-right: 10px;
}

/* INTERACTIVE RATING FOR COMMENT CREATION/UPDATE*/
.rating {
  position: relative;
  display: flex;
  transform: translateX(calc(10rem - 100%)) rotateY(180deg);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
}

.rating label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 2rem;
  margin-left: 1px;
  color: #ccc
}

.rating label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 2rem;
  margin-right: 10px;
  color: gold;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}

.star:after {
  content: '\f005';
  font-family: fontAwesome;
  color: gold;
}

/* NEW COMMENT */
.new-comment {
  border-left: 5px solid #00C851
}

.new-comment h4, a {
  align-items: center
}

.new-comment > h4 > span {
  margin-left: 10px;
}

/* EDIT COMMENT */
.edit-comment {
  border-left: 5px solid #F0AD4E;
}

.btn-warning {
  color: white
}

.rating-required {
  font-size: 0.9em;
}

form .btn-danger {
    margin-bottom: 1rem;
}