img {
    width: 50%;
}

.thumbnail > img {
  width: 100%;
}
.thumbnail {
  padding: 0px;
  padding-bottom: 10px;
}

.caption-full {
  padding: 10px;
}
.img-grid {
    width: 100%;
}

.campgrounds-row {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline;
}

.comment {
  padding-bottom: 1em;
}
.comment-text {
  font-size: 2.4vh;
}

.new-form {
    width: 30%;
    margin: 25px auto;
}

.formHeader {
    text-align: center;
}
