html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
}

img {
    width: 50%;
}

.thumbnail > img {
  width: 100%;
}
.thumbnail {
  padding: 0px;
  padding-bottom: 10px;
}

.caption-full {
  padding: 10px;
}
.img-grid {
    width: 100%;
}

.campgrounds-row {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline;
}

.comment {
  padding-bottom: 1em;
}
.comment-text {
  font-size: 2.4vh;
}

.new-form {
    width: 30%;
    margin: 25px auto;
}

.formHeader {
    text-align: center;
}

.footer {
  margin-top: 5em;
  height: 10em;
  width: 100%;
  flex-shrink: 0;
  background-color: #eee;
  border-top: 0.2em solid #d0d0d0;
}

.footer-list {
  list-style: none;
  padding-inline-start: 0;
}

.footer-list li {
  margin: 0.2em 0;
}

.container.paragraphs {
  max-width: 70em;
}

.time-since {
  font-style: italic;;
  color: grey;
}

.num-notifs {
  border-radius: 50%;
  background-color: #eee;
  padding: 0.3em 0.5em;
}

.avatar {
  width: 4vw;
  border-radius: 50%;
  margin-right: 1vw;
}
