img {
    width: 50%;
}

.thumbnail > img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}

.caption-full {
  padding: 10px;
}
.img-grid {
    width: 100%;
}

.campgrounds-row {
    display: flex;
    flex-wrap: wrap;
}

.new-form {
    width: 30%;
    margin: 25px auto;
}

#newCampHeader {
    text-align: center;
}