img {
    width: 50%;
}

.img-grid {
    width: 100%;
}

.campgrounds-row {
    display: flex;
    flex-wrap: wrap;
}

.login-form {
    width: 30%;
    margin: 25px auto;
}

#newCampHeader {
    text-align: center;
}